body {
  font-family: "Roboto", sans-serif;
}

/* nav */

.navbar .img-container {
  display: flex;
  align-items: center;
}

.navbar .img-container img {
  max-height: 50px;
  width: auto;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
}

.call {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -1px;
  font-size: 1.5rem;
}

.call > a {
  text-decoration: none;
  color: #173081;
}

/* CTA */

.cta-1 {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #4d6aa4;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-2 {
  position: fixed;
  bottom: 110px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #25d366;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-name {
  line-height: 1.2;
}

/* hero */

.hero {
  height: 50vh;
  background-image: url(./img/hero/hero.jpg);
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: end;
  border-bottom: 4px solid #e93809;
}

.hero-text {
  padding: 1.5rem 4rem;
  font-size: clamp(2rem, 4vw, 4rem);
  width: fit-content;
  background-color: #173081;
  border-radius: 0 6px 0 0;
  margin: 0;
}

section {
  padding-top: 3rem;
}

.section-title {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #e93809;
  font-weight: 500;
}

.section-subtitle {
  color: #173081;
  font-weight: 800;
}

.chi-sono-img-1 {
  transform: translateX(-100px) translateY(75px);
}
